h1 {
    font-family: 'Bungee', cursive;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);;
}

#main_title {
    font-size: 36px;
    color: white;
    text-shadow: 6px 6px rgba(28, 35, 52, 0.529);
}

.trivia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 70%;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid red;
    -webkit-box-shadow: 13px 13px 29px 3px rgb(28, 35, 52);
    -moz-box-shadow: 13px 13px 29px 3px rgb(28, 35, 52);
    box-shadow: 13px 13px 29px 3px rgb(28, 35, 52);
}

.stats {
    display: inline-flex;
    justify-content: space-between;
    height: 8%;
    width: 100%;
}

.stat {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    border: 1px solid red;
}

.remaining {
    justify-content: flex-start;
}

.score {
    justify-content: flex-end;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: 1px solid red;
    background-color: transparent;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    border: 1px solid red;
}

#multiple_choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 55%;
    width: 100%;
}

#choice {
    display: flexbox;
    height: 40%;
    width: 47%;
    border-radius: 20px;
    border: 1px solid red;
}